<ion-header>
  <ion-toolbar>
    <ion-title>
      Background geolocation example
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>Test para probar localizacion en app en segundo plano</p>
  <ion-button (click)="startNavigation()">Iniciar navegacion GPS</ion-button>
  <ion-button (click)="getGeolocationStatus()">Check GPS Status</ion-button>
  <ion-button (click)="showLocations()">Ver localizaciones obtenidas</ion-button>
  <ion-button (click)="stopBackGroundLocation()">Finalizar geolocalizacion</ion-button>
  <app-map></app-map>
</ion-content>
